<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=localhost\DEV;Initial Catalog=PokerLeagueManager.DB.EventStore;Integrated Security=True;Pooling=False" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQueryService" />
        <binding name="BasicHttpBinding_IEventService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1766/QueryService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IQueryService" contract="PokerLeagueManager.Common.DTO.IQueryService"
          name="BasicHttpBinding_IQueryService" />
      <endpoint address="http://ShouldBeSetFromDatabase/EventService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IEventService" contract="PokerLeagueManager.Common.Events.Infrastructure.IEventService"
          name="BasicHttpBinding_IEventService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
