<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="default" connectionString="Data Source=localhost;Initial Catalog=PokerLeagueManager.DB.EventStore;Integrated Security=True;Pooling=False" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ShouldBeSetFromDatabase/EventService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IEventService" contract="PokerLeagueManager.Common.Events.Infrastructure.IEventService"
          name="BasicHttpBinding_IEventService" />
    </client>
  </system.serviceModel>
</configuration>