<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1766/EventService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IEventService" contract="PokerLeagueManager.Common.Events.Infrastructure.IEventService"
          name="BasicHttpBinding_IEventService" />
    </client>
  </system.serviceModel>
</configuration>